<div>
  <%= render 'layouts/info', user: @user %>
  <%= render 'layouts/form', book: @book %>
</div>

<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <th>
          <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user, :profile_image, size: "60x60", format: 'jpeg', fallback: 'no_image.jpg' %><br>
          <%= @user.username %>
          <% end %>
        </th>
        <th>
          <%= link_to book_path(@about_book) do %>
          <%= @about_book.book_title %>
          <% end %>
        </th>
        <th>
          <%= @about_book.book_body %>
        </th>
        <% if @about_book.user_id == current_user.id %>
        <th>
          <%= link_to 'Edit', edit_book_path(@about_book) %>
        </th>
        <th>
          <%= link_to 'Destroy', book_path(@about_book), method: :delete, data: {confirm: '本当に消しますか？'} %>
        </th>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>