<!DOCTYPE html>
<html>

<head>
  <title>ChallengeBookers2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span>Bookers</span>
        </a>
        <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <a class="fas fa-home nav-link text-light">
                <%= link_to "Home", user_path(current_user.id) %>
              </a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light">
                <%= link_to "Users", users_path %>
              </a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light">
                <%= link_to "Books", books_path %>
              </a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light" href="/">
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              </a>
            </li>
            <% else %>
            <li>
              <a class="fas fa-home nav-link text-light" href="/">Home</a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light">
                <%= link_to "About", about_path %>
              </a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light" href="/">
                <%= link_to "sign up", new_user_registration_path %>
              </a>
            </li>

            <li>
              <a class="fas fa-home nav-link text-light" href="/">
                <%= link_to "login", new_user_session_path %>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <%= yield %>
</body>

</html>